---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: "geerlingguy/docker-ubuntu2404-ansible:latest"
    pre_build_image: true
provisioner:
  name: ansible
  playbooks:
    converge: ../../ansible/playbook.yml
verifier:
  name: ansible
